.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  display: grid;
  gap: 0;
  background: linear-gradient(135deg, #7aea66ff 0%, #4ba26fff 100%);
}

.background-square {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  font-weight: bold;
  transition: opacity 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
}
